@model List<Selling_Vegetable_26102023.Models.Product>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            @if (item.Price.HasValue)
            {
                <td>
                    @item.Price.Value.ToString("#,##0") VND
                </td>
            }
            else
            {
                <td>
                    @item.Price
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            @if (item.Active != null)
            {
                @if (item.StockQuantity > 0)
                {

                    <td>
                        Active
                    </td>
                }
                else
                {
                    <td>
                        No Active
                    </td>
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
}